.footer-container{
    background-color: #222; 
    height: 80px;  
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    position: absolute;
    bottom: 0px;
    top: 100%;
}
small{
    color: #fff;
    font-weight: 300;
}