.services-container{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 20px;
}

/* make services responsive with media quary */
@media only screen and (max-width: 576px) {
    .services-container{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media only screen and (min-width: 577px) and (max-width: 992) {
    .services-container{
        grid-template-columns: repeat(2, 1fr);
    }
}